.header {
    height: 60px;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5EDED;
    padding: 0 20px;
    margin: 0 0.5%;
    border-radius: 25px;
    flex-wrap: wrap;
    margin-left: 0.16%;
}

.search-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-div h1 img {
    height: 50px;
    width: auto;
    cursor: pointer;
}

.search-box {
    flex: 1;
    height: 35px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid black;
}

.nav-div {
    display: flex;
    justify-content: flex-end;
    width: auto;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-list li button {
    padding: 8px 12px;
    border-radius: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

@media (max-width: 420px) {
    .header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .search-div {
        width: 100%;
        justify-content: center;
    }

    .nav-div {
        width: 100%;
    }

    .nav-list {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .profile-block {
        width: 50%;
        left: 25%;
    }
}
