.cart-main-div{
    height: 630px;
    width: 74%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 1%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 2px 8px rgba(0, 0, 0,1 );
    overflow: auto;

    
}
.cart-item{
    height: 300px;
    width: 94%;
   box-shadow: 8px 2px 8px rgba(0, 0, 0,1 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin:1%
}


.cart-image-div{
    height: 98%;
    width: 33%;  
}
.cart-image{
    margin: 1.25%;
    height: 98%;
    width:98%;
    object-fit: contain;
    box-shadow: 8px 2px 8px rgba(0, 0, 0,1 );
}
.cart-info-div{
    height: 98%;
    width: 41.67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-button-div{
    height: 100%;
    width:20%;
    /* justify-content: center;
    align-items: center; */
    display: flex;
    
}
.cart-button-div h2{
    color: white;
    background-color: red;
    height: 100%;
    margin-top:25%;
    width: 48%;
    margin-right: 8%;
    border-radius: 20px;
    text-align: center;
    padding-top: 20%;
    border: 2px solid black;
}
.cart-button{
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 50%;
}

.payment-div {
    justify-content: end;
    align-items: end;
}
.payment-div button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    
}
@media (max-width  :425px){
    .cart-main-div {
        height: auto;
        width: 100%;
        /* margin-left: 23%;
        margin-right: 3%; */
        margin-top: 1%;
        overflow: auto;
        /* display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; */
        margin-left: 0;
        
    }
    
    .cart-item {
        /* width: 300px;
        height: 490px;
        
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 30px #40404060;
        margin: 20px;
        background-color:#fcfcfc;
        cursor: pointer;
        transition: transform 0.2s;
        margin:0; */
        width: 300px;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        /* box-shadow: 0 4px 30px #40404060; */
        margin: 20px;
        background-color: #fcfcfc;
        cursor: pointer;
        transition: transform 0.2s;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin: 20px;
        
    }
   .cart-item:hover {
        transform: scale(1.05);
        box-shadow: 0px 4px 8px #00000033;
    }
    .cart-image-div{
        width: 100%;
        height: 250px;
       
    }

  
    .cart-image {
        width:100%;
        height: 250px;
        margin: 0;
        object-fit: contain;
        box-shadow: none;
    }
    .cart-scroll{
        height: 90%;
        width: auto;
      box-shadow: #fcfcfc;
        overflow: auto;
    }

    .cart-info-div {
        padding: 0 15px;
        text-align: center;
        width: 100%;
    }

    .cart-title {
        font-size: 1.5em;
        margin: 10px 0;
        font-size: medium;
        color:solid black;
    }

    .cart-description {
        font-size: 1em;
        color: solid black;
        margin: 10px 0;
        font-size: small;
       
    }

    .cart-price {
        font-size: 1.2em;
        color: solid black;
        margin: 10px 0;
    }
    .cart-button-div{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cart-button-div h2{ 
        margin-top: 0;
        width: 100%;
        margin-right: 0;
        padding:0;
    }
    .cart-button{
        width: 50%;
        margin-left: 25%;
        margin-bottom: 2%;
    }


    .remove-button-div:hover {
        background-color: #218838;
    
        
    
        transform: scale(1.05);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .remove-button-div:active {
        transform: scale(0.9);
        box-shadow: 0px 4px 8px #0000005d;
    }
}